<div class="col-sm-5 col-md-3">
    <div class="thumbnail">
        <h4 class="text-center">{{title}}</h4>
        <img class="img-responsive" src="{{imageUerl}}" alt="..." style="height:400px;">
        <div class="caption text-center">
            <p>
                <p>Price: {{price}}
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                    </button>
                </p>

            </p>
        </div>
    </div>
</div>